/* @import './reset.css';
@import './variables.css'; */

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--normal);
  font-style: normal;
  background-color: var(--primary);
  color: var(--contrast);
}

.app-container {
  display: flex;
}

h1 {
  font-size: var(--size-s);
  color: var(--tint-plus);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.3px;
  font-size: var(--size-xs);
  font-weight: var(--bold);
  font-style: normal;
  margin-bottom: var(--spacing-base);
}
h3 {
  font-weight: var(--normal);
  text-decoration: underline;
  margin-bottom: var(--spacing-bl);
  color: var(--accent-subtle);
}

/* ************** */
/* SIDEBAR */
/* ************* */

.sidebar {
  flex-basis: 10%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacing-s);
  border-right: 1px solid var(--contrast);
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  list-style-type: none;
  padding-left: 0;
}
.btn.sidebar-task {
  background-color: var(--primary);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--tint);
  }
}

.content-container {
  flex-basis: 90%;
}

/* ************** */
/* HEADER */
/* ************* */

.board-header {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-base) var(--spacing-bl);
  padding: var(--spacing-base);
  border: solid 1px var(--tint);
  border-radius: var(--radius-xl);
  box-shadow: 0 5px 16px rgba(28, 34, 49, 0.1);
}
.board-header form {
  padding: var(--spacing-base);
  display: flex;
  align-items: center;
}
.select,
.input {
  height: 2.2rem;
  border: 2px solid var(--tint);
  border-radius: var(--radius-base);
  margin-right: var(--spacing-s);
  padding-left: var(--spacing-xs);
}
.active-project {
  padding: var(--spacing-base);
  display: flex;
  align-items: center;
  gap: var(--spacing-bl);
}
.active-project p {
  font-size: var(--size-xl);
  color: var(--accent-subtle);
}
.btn {
  padding: var(--spacing-xs) var(--spacing-bl);
  border: none;
  border-radius: var(--radius-base);
  font-size: var(--size-s);
  cursor: pointer;
}
.btn.add-task {
  background-color: var(--accent);
}
.btn.view-backlog {
  background-color: var(--accent-subtle);
  color: var(--primary);
  text-decoration: none;
}

/* ************** */
/* TASKBOARD */
/* ************* */

.task-board {
  margin: 0 var(--spacing-bl);
  padding: var(--spacing-base);
  display: flex;
  gap: var(--spacing-bl);
}

.task-board div {
  flex-basis: 25%;
}
.card {
  font-size: var(--size-s);
  padding: var(--spacing-base) var(--spacing-l);
  border: solid 1px var(--tint);
  border-radius: var(--radius-xl);
  box-shadow: 0 5px 16px rgba(28, 34, 49, 0.1);
  margin-bottom: var(--spacing-base);
}
.tag {
  background-color: var(--contrast);
  font-size: var(--size-xs);
  color: var(--primary);
  display: inline-block;
  padding: var(--spacing-xxs) var(--spacing-base);
  border-radius: var(--radius-xxl);
  margin-top: var(--spacing-base);
  margin-right: var(--spacing-xxs);
}
