.backlog-board {
  margin: 0 var(--spacing-bl);
  padding: var(--spacing-base);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--spacing-bl);
}
.backlog-board .card {
  width: 40rem;
}
.total-items {
  padding: var(--spacing-s) var(--spacing-base);
  background-color: var(--bulma-blue);
  color: var(--primary);
  margin-bottom: var(--spacing-base);
  border-radius: var(--radius-base);
}
